version: '3'

services:
  web-app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile

    volumes:
      - ../..:/workspaces:cached

    # Start a VNC server to view Cypress tests
    # sleep infinity
    command: >
      sh -c "
        Xvfb :99 -screen 0 1440x900x24 &
        export DISPLAY=:99
        sleep 3
        x11vnc -display :99 -nopw -forever &
        npx cypress open
      "
    ports:
      - "5901:5900" # VNC

    networks:
      - rails_network
    
    environment:
      DB_HOST: web-postgres
      DB_USERNAME: postgres
      DB_PASSWORD: password
      DB_NAME: naturio_development
      RAILS_ENV: development
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_BUCKET: ${AWS_BUCKET}
      AWS_REGION: ${AWS_REGION}

    depends_on:
      - web-postgres

  web-postgres:
    image: postgres:15
    restart: unless-stopped
    networks:
      - rails_network
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./create-db-user.sql:/docker-entrypoint-initdb.d/create-db-user.sql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: naturio_development

  stripe-cli:
    image: stripe/stripe-cli:latest
    container_name: stripe-cli
    networks:
      - rails_network
    command: ["listen", "--forward-to", "http://web-app:3000/webhooks/stripe"]
    environment:
      - STRIPE_API_KEY=${STRIPE_SECRET_KEY}
    stdin_open: true
    tty: true

volumes:
  sonar-db:
  postgres-data:

networks:
  rails_network:
    driver: bridge
